@model IEnumerable<CA20192020.DataModel.Classes.Module>
<h3>Here is a list of the modules available for enrollment</h3>
<h5>
    @ViewBag.EnrollmentMessage
</h5>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModuleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Enroll", "Enroll", "Student", new
                { moduleID = item.ID }, null)
            </td>
        </tr>
    }

</table>
