@model IEnumerable<CA20192020.DataModel.Classes.StudentGrade>


<h3>
    Here are your students' grades
</h3>
<p>
    @Html.ActionLink("Grade an Assessment", "GradeAssessment", "Lecturer")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleAssessment.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.StudentID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Student.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Student.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Grade)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ModuleAssessment.Description)
    </td>
    <td>
        @Html.ActionLink("Edit Grade", "EditGrade", "Lecturer", new
        { gradeID= item.ID }, null) |
        @Html.ActionLink("Delete Grade", "DeleteGrade", "Lecturer", new {
       gradeID = item.ID}, null)
    </td>
</tr>
}

</table>
